.btnRps
{
    margin-top: 24%;
    margin-right: 5%;

}


.cont
{
    width: 30%;

    
}
.rockpaperscissors
{
    display: inline;
    height: 18%;
    width: 18%;
    position:absolute;
    
}
.tateti
{
   
    height: 18%;
    width: 18%;
    position:absolute;
    left:50.5%;
    bottom: 42%;

}
.rps
{
    display: inline;
    margin-left: 7%;
    margin-bottom: 10%;
    position: absolute;
}
