<div class="cont container col-2">
    <div style="margin-top:20%;">
        <button type="button"  class="btnRps btn btn-outline-light" (click)="goRockPaperScissors()">Piedra, papel o tijera</button>
        <div class="rockpaperscissors">
        <img class="img-fluid" src="../../assets/images/rock-paper-scissors.png" alt="">
        </div>
    </div>

    <div style="margin-top:30%;">
        <button type="button"  class="btn btn-outline-light mt-3" (click)="goTateti()">TaTeTi </button>
        <div class="tateti">
            <img class="img-fluid" src="../../assets/images/tateti.jpeg">
        </div>
       
    </div>

    <div style="margin-top:30%;">
        <button type="button"  class="btn btn-outline-light mt-3">Memotest</button>
    </div>

    <div style="margin-top:30%;">
        <button type="button"  class="btn btn-outline-light mt-3">Aliens</button>
    </div>
    

    
</div>
<button class="btn btn-outline-success" [routerLink]="['/home']">VOLVER A HOME</button>
