<div class="container col-7">
<h1>Facundo Rocha</h1>
<br><br>
<img src="../../../assets/images/perfil.jpeg" width="250" height="450"  alt="img user">
<p>Lorem ipsum, dolor sit am
    et consectetur adipisicin
    g elit. Suscipit neque est unde
     perferendis similique, vitae repellat harum distinctio labore 
    asperiores voluptatem laudantium repellendus nobis. Ab qui harum deserunt culpa nemo!
</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
    Architecto voluptas asperiores cumque, commodi repellendus doloremque,
    magnam quia voluptate harum illum, quos atque molestiae veniam eius et aut. 
    Beatae, aspernatur dolores.

</p>
<button type="button" [routerLink]="['home']" class="btn btn-outline-light btn-lg btn-block">Volver a Home</button>
</div>
