<div class="container col-7  text-light">
<h1 class="title">Facundo Rocha</h1>
<br><br>
<img src="../../../assets/images/perfil.jpeg" width="250" height="450"  alt="img user">
<div class="about">
    <h3>Sobre mi</h3>
    <p >Mi nombre es Facundo Rocha, soy estudiante de la tecnicatura en programación. 
        Me encuentro cursando el cuarto cuatrimestre. 
        Entre otros Hobbies soy músico e instrumentista. 
    </p>
    <br>
    <h3>Juego propio</h3>
    <p>Mi juego "ALIENS" consta en encontrar en una cuadrícula donde estan escondidos los Aliens, 
        clickeando sus ubicaciones con un limite de clicks. Se gana si encontraste a todos los Aliens.
    </p>

</div>


<button type="button" (click)="comeHome()" class="boton btn btn-outline-light btn-lg btn-block">Volver a Home</button>
</div>
