.container
{
    text-align: center;
}

.options
{
    background-color: white;
    margin:0 auto;
    width: 700px;
    height: 400px;
}

.choice
{
    top: 40px;
    position:relative;
    border-width: 10px;
    width: 20px;
    left:100px;
 
}

.rock{
    position:absolute;
    

}
.scissors{
    position:absolute;
    top: 160px;

}
.paper{
    position:absolute;
    top: 80px;

}

.result
{
   position:absolute;
   bottom: 358px;
   right: 630px;
}

.resultComputer
{
    position:absolute;
   bottom: 356px;
   right: 500px;
   
}


.choice:hover
{
    background:black;
    cursor: pointer;
   
}