.container
{
    text-align: center;
}
.title
{
    font-family: 'Merriweather Sans', sans-serif;
}

.inGame
{
   margin-top: 50px;
   font-family: 'Amiri', serif;
   
}
.options
{
    background-color: white;
    border-color: green;
    border-style:solid;
    
    margin:0 auto;
    width: 700px;
    height: 400px;
    position:relative;
}


.choice
{
    top: 40px;
    position:relative;
    border-width: 10px;
    width: 20px;
    left:100px;
 
}

.rock{
    position:absolute;
    

}
.scissors{
    position:absolute;
    top: 160px;

}
.paper{
    position:absolute;
    top: 80px;

}

.rockComputer{
    position:absolute;
    right:120px;
    

}
.paperComputer{
    position:absolute;
    right: 128px;
    top: 140px;

}
.scissorsComputer{
    position:absolute;
    right:140px;
    top: 250px;

}


.result
{
   position:absolute;

   right: 360px;
   top:   138px;
}

.resultComputer
{
    position:absolute;
    right: 250px;
    top:138px;
}


.choice:hover
{
    background:black;
    cursor: pointer;
   
}

#again{
    position: absolute;
    border: solid;
    top:100px;
    left:100px;
    width: 500px;
}
#come{
    position: absolute;
    border: solid;
    top: 200px;
    right:92px;
    width: 500px;
}