
<div class="container">
    <h3 class="title mt-4 h1 text-light">PIEDRA, PAPEL O TIJERA</h3>


        <h6 class="inGame text-light h1" *ngIf="inGame">
        Comenzar la batalla!!!
        </h6>
        <h6 class="finished h1 " *ngIf="score==5">
            GANAASTE!!!!!!!!!!!
        </h6>
        <h6 class="finished h1 " *ngIf="scoreComputer==5">
            PERDISTE :(
        </h6>
    <div class="score text-light h2">
        {{this.score}} - {{this.scoreComputer}}
    </div>

    <div class="options" *ngIf="inGame ; else finish">
        <div class="greenNav"></div>
        <div class="choice"  (click)="toPlay('rock')">
        <img class="rock" src="../../../../assets/images/r.png" alt="" id="rock">
        </div>
        <br>
        <div class="choice"  (click)="toPlay('paper')">
        <img class="paper" src="../../../../assets/images/p.png" alt="" id="paper">
        </div>
        <br>
        <div class="choice" id="scissors" (click)="toPlay('scissors')" >
            <img class="scissors" src="../../../../assets/images/s.png" alt="" id="scissors">
        </div>

            <div class="result" id="result">
                <img class="resultImage" src="{{this.result}}" alt="">

                <img class="resultImageComputer" src="{{this.resultComputer}}" alt="">
         
            </div>

           
            <img class="rockComputer" src="../../../../assets/images/r.png" alt="">
            <img class="paperComputer" src="../../../../assets/images/p.png" alt="">
            <img class="scissorsComputer" src="../../../../assets/images/s.png" alt="">
               

    </div>

    <ng-template #finish>
        <div class="options">        
            <div class="greenNav"></div>
            <button type="button" (click)="playAgain()" class="btn btn-outline-success btn-lg btn-block" id="again">Jugar de nuevo?</button>
            <br>
                
                <div class="result" id="result">
                    <img class="resultImage" src="{{this.result}}" alt="">

                    <img class="resultImageComputer" src="{{this.resultComputer}}" alt="">
                </div>
                
               
                    
             
            <br>
            <button type="button" (click)="comeBack()" class="btn btn-outline-danger btn-lg btn-block" id="come">Regresar</button>

        </div>

    </ng-template>

    
</div>

