
<div class="container">
    <h3 class="mt-4 h1 text-light">PIEDRA, PAPEL O TIJERA</h3>


        <h6 class="text-light h2 mt-2">
        Comenzar !!!
        </h6>

    <div class="score text-light h2" style="margin-top: 10%;">
        {{this.score}} - {{this.scoreComputer}}
    </div>

    
    
    <div class="final h1 text-light" *ngIf="score==5">

        GANAASTE!!!!!!!!!!!
    </div>

    <div class="final h1 text-light" *ngIf="scoreComputer==5">

        PERDISTE :(
    </div>


    <div class="options">

        <div class="choice"  (click)="toPlay('rock')" id="rock" >
        <img class="rock" src="../../../../assets/images/r.png" alt="">
        </div>
        <br>
        <div class="choice"  (click)="toPlay('paper')" id="paper">
        <img class="paper" src="../../../../assets/images/p.png" alt="">
        </div>
        <br>
        <div class="choice" id="scissors" (click)="toPlay('scissors')">
        <img class="scissors" src="../../../../assets/images/s.png" alt="">
        </div>

        <div class="result" id="result">
            <img class="resultImage" src="../../../../assets/images/s.png" alt="">
        </div>

        <div class="resultComputer" id="resultComputer">
            <img class="resultImageComputer" src="../../../../assets/images/s.png" alt="">
        </div>

    </div>

    
</div>

