.home{
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 10%;

}
.boton{
    font-weight: 500;
    color: brown;
    border-radius: 20%;

    padding-left: 6%;
    padding-right:6%;
    padding-top: 2%;
    padding-bottom: 2%;
    

}
.chat
{
    width: 40%; 
    overflow:scroll; 
    height:60%; 
    color: black; 
    background-color: white; 
    border-color: black; 
    border-radius: 2%;  
    border-start-start-radius: 10%; 
    border-style:solid;
    position: absolute;
    margin-right: 60%;
    margin-bottom: 20%;

}