
<div class="col-md-5 mx-auto mt-5">
        <div class="card-body">
            <h2 class="text-white text-center">LOGIN</h2>
            <br><br>
            <form [formGroup]="loginForm" (ngSubmit)="Loguear()">
                <div class="form-group">
                    <label class="text-white h4 mb-1" for="email">E-mail: </label>
                    <input type="email" class="form-control mb-3" formControlName="email" [ngClass]="{'is-invalid': submitted && email.errors}">
                    <div class="alert-danger" *ngIf="submitted && email.invalid">
                        <div class="container-error-message">
                            {{GetEmailErrorMessage()}}
                        </div>   
                    </div>
                    
                </div>
    <!--
    ngIf="email.invalid && (email.dirty || email.touched)"
    {{GetEmailErrorMessage()}}
    -->
                <div class="form-group">
                    <label class="text-white h4" for="email">Contraseña: </label>
                    <input type="password" class="form-control mb-3" minlength="1" formControlName="password" [ngClass]="{'is-invalid': submitted && password.errors}">
                    <div class="alert-danger" *ngIf="submitted && password.invalid">
                        <div class="container-error-message" >
                            {{GetPasswordErrorMessage()}}
                        </div>
                       
    
                    </div>
                </div>
                <button class="btn btn-lg btn-outline-light mb-3">Loguearse</button>
            </form>

            <div class="form-group h6">
                <p>Todavia no tienes una cuenta?
                    <a class="log " [routerLink]="['/registro']">Registrarte</a>
                </p>
                
            </div>
        </div>
</div>

