<h1 class="text-light" style="text-align:center;">TA-TE-TI</h1>
<section class="section">


    <div class="row1" (click)="toPlay(0,0)" id="row0col0"></div>
    <div class="row1"(click)="toPlay(0,1)" id="row0col1"></div>
    <div class="row1"(click)="toPlay(0,2)" id="row0col2"></div>

    
    <div class="row1">caja 1</div>
    <div class="row1">caja 2</div>
    <div class="row1">caja 3</div>
 
    <div class="row1">caja 1</div>
    <div class="row1">caja 2</div>
    <div class="row1">caja 3</div>
</section>

